a {
  font-family: arial, sans-serif;
  color: #222;
  text-decoration: none;
  font-size: 13px;
  vertical-align: middle;
  padding: 0 15px 0 15px;
}
a:hover {
  text-decoration: underline;
}
li {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
input {
  width: 630px;
  height: 34px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
.header {
  position: absolute;
  display: flex; /* add to use justify, without justufy not needed*/
  justify-content: flex-end; /*difrent solution: text-align: right;*/
  top: 25px;
  width: 100%;
}
.t-img {
  height: 30px;
  opacity: 0.55;
  vertical-align: middle;
}
.t-img:hover {
  opacity: 1;
}
.t-button {
  border: 1px solid #4285f4;
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  line-height: 28px;
  border-radius: 2px;
}
.t-button:hover {
  box-shadow: 0 2px 0 rgba(0,0,0,.15);
}
.logo {
  position: relative;
  display: flex;
  top: 90px ;
  justify-content: center;
}
.b-img{
  height: 200px;
}
.input {
  position: relative;
  top: 90px;
  display: flex;
	justify-content: center;
}
.buttons {
  position: relative;
  top: 110px;
  width: 100%;
  text-align: center;
}
.d-buttons {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  line-height: 27px;
  height: 36px;
  color: #757575;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
}
.d-buttons:hover {
  border: 1px solid #c6c6c6;
}
.footer {
  position: absolute;
  left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
	display: flex;
	justify-content: space-between;
}
